@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
body{
  margin: 0;
  padding: 0;
  background-color: #23272F;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  background-color: #23272F;
  border-radius: 10px;
  /* border: 1px solid #fff; */
}
.heading{
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 600;
  margin: 20px 0;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid #fff; */
  letter-spacing: 3px;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  /* border: 1px solid #fff; */
}
.input{
  width: 180px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  margin: 10px 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.btn{
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #7289DA;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 25px;
  border-radius: 8px;
  color: #fff;
  font-family:'Roboto', sans-serif ;
  margin-bottom: 10px;
  margin-right: 40px;
  padding: 0 5px;
  background-color: #7289DA;
}
.delete-btn{
  border-radius: 5px;
  border: none;
  background-color: #f5f6f8;
  cursor: pointer;
  margin-left: 10px;
}
.del-icon{
  height: 18px;
}







